# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output files
*.out
all_combos.txt
nepali_only.txt
variations.txt

# Virtual environment
venv/
.venv/
ENV/
env/
venv.*
env.*
